*{
    margin: 0;
    padding: 0;
}
header{
    margin: 0%;
    padding: 0;
    position: relative;
}
.clear{
    clear: both;
}
header a {
    position: absolute;
    display: inline-block;
    top: 190px;
    left: 1px;
    text-decoration: none;
    background-color: rgba(255, 196, 0, 0.3);
    width: 32%;
    padding: 5px;
    color: white;
    border-radius: 3px;
}
header a span {
    color: white;
}
header a span:hover{
     word-spacing: 2px;
     color: blue;
}
#aboutme{
    width: 30%;
    color: #CACABE;
    text-align: center;
    font: 50px "Courier New", Courier, monospace,"Lucida Console";
    padding: 10px;
    margin: auto;
}
header img{
    height: 150px;
    width: 100%;
    margin: 0%;
}
#aboutme:hover{
    word-spacing: 1px;
    color: teal;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
}
.navbar {
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    color: #008080;
}
.navbar ul li{
    margin-left: 250px;
    border: 1px solid #008080;
    border-radius: 8px;
    padding: 6px 40px 6px 40px;
    font: 10px 4px black;
}
.navbar ul li:hover{
    box-shadow: 3px 3px  rgb(0, 0, 0, 0.6);
    letter-spacing: 1px;
}
.mainpara{
    color: teal;
    font: 18px "Courier New", Courier, monospace;
    text-align: justify;
    margin-left: 12%;
    text-overflow: ellipsis;
    width: 55%;
    padding: 5px;
    line-height: 1.5em;
    border-left: 3px solid black;
    margin-top: 60px;
}
.mainpara:hover{
    box-shadow: 1px 1px 2px 2px rgba(202, 173, 100, 0.616);
    border-radius: 8px;
    word-spacing: 1px;
    border-left: none;
}
main h2{
    color: darkslategrey;
    padding: 20px;
    width: 30%;
    margin-left: 10%;
    margin-top: 5px;
    font: 30px  "Courier New", Courier, monospace;
    padding-bottom: 50px;
}
main h2:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #045b75, 0 0 40px#045b75, 0 0 50px #045b75, 0 0 60px #045b75, 0 0 70px #045b75;
    color: burlywood;
}
h3 {
    color: whitesmoke;
    padding: 5px;
    width: 25%;
    margin-left: 530px;
    text-align: center;
    font: 20px "Courier New", Courier, monospace;
    background-color: black;
    border-radius: 8px;
}
h3:hover{
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px 3px gainsboro;
}
.main1{
    width: 20%;
    margin-left: 570px;
    line-height: 1.5;
    text-align: center;
    font: 10px 20px Tahoma, Geneva, sans-serif;
    list-style-type: none; 
    float: left;
}
.clear{
    clear: both; 
}
.main2{
    width: 20%;
    margin-left: 570px;
    line-height: 1.5;
    text-align: center;
    font: 10px 20px Tahoma, Geneva, sans-serif;
    float: left;
    list-style-type: none;
}
.main3{
    width: 25%; 
    margin-left: 640px;
    line-height: 1.5;
    text-align: center;
    font: 10px 20px Tahoma, Geneva, sans-serif;
    float: left;
    list-style-type: none;
    color: teal;
}
.item1 {
    padding: 20px;
    font-size: 12px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }
.item1:hover{
    background-color:#ffffCB;
    color: rgb(94, 115, 124);
    border-radius: 5%;
}
.item2{
    width: 100px;
    padding: 5px;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 5px;
}
.item3{
    width: 150px;
    padding: 5px;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 5px;
}
.item2:hover,.item3:hover{
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px #808080;
    letter-spacing: 5px;
}

 h4{
    background: #ffffCB; 
}
 h4:hover {
    background-color: black;
    color: white;
}

.item1 p{
    background: #ffffCB;
}
.item1 p:hover{
    letter-spacing: 2px;
}